<div class="act-wrapper">
  <h4>Other Activities</h4>
  <div class="act-container">
    <div class="act-content">
      <img title="Activity" src="assets/images/activities/act_1.png" alt="Activity">
      <div class="act-text">
        <span>The curious corner of chamarel</span>
        <div>
          <a title="Book" class="book-btn" mat-button>Book Now</a>
        </div>
      </div>
    </div>
    <div class="act-content second">
      <img title="Activity" src="assets/images/activities/act_2.png" alt="Activity">
      <div class="act-text">
        <span>Gymkhana club golf course</span>
        <a title="Book" class="book-btn" mat-button>Book Now</a>
      </div>
    </div>
    <div class="act-content third">
      <img title="Activity" src="assets/images/activities/act_3.png" alt="Activity">
      <div class="act-text">
        <span>Tamarind falls hiking trip - full day</span>
        <a title="Book" class="book-btn" mat-button>Book Now</a>
      </div>
    </div>
    <div class="act-content fourth">
      <img title="Activity" src="assets/images/activities/act_4.png" alt="Activity">
      <div class="act-text">
        <span>The blue marine discovery quest</span>
        <a title="Book" class="book-btn" mat-button>Book Now</a>
      </div>
    </div>
  </div>
</div>
