.hotel-details-wrapper {
  width: 100%;
  background-color: #F5FAFE;
}

mat-toolbar {
  background-color: #F5FAFE;
  height: 77px;
  padding: 0;
}

mat-tab-group {
  background-color: #F5FAFE;
  height: 77px;
  padding: 0;
}

.mat-button {
  padding: 0 53px 0 0;
  font-family: 'Muli Bold', sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
}

::ng-deep .mat-button-focus-overlay {
  background-color: transparent;
}

.active-tab {
  font-family: 'Muli Bold', sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #EC1F46;
  text-decoration-line: underline;
  text-underline-offset: 12px;
  text-decoration-thickness: 4px;
}

h2 {
  font-family: 'Muli Bold', sans-serif;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: #333333;
  margin-top: 24px;
  margin-bottom: 19px;
}

.package-title {
  background-color: #0A223D;
  border-radius: 4px 4px 0 0;
  padding: 16px 0 16px 24px;
  font-family: 'Muli Bold', sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #FFFFFF;
}

.package-details {
  width: 538px;
  display: flex;
  background-color: #FFFFFF;
  border-radius: 8px 8px 8px 0;
  padding-top: 27px;
}

.bottom-details {
  width: 100%;
}

.package-item {
  font-family: 'Muli Regular', sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #333333;
  display: flex;
  padding-bottom: 21px;
}

.package-item img {
  margin-right: 21px;
}

.package-column-left {
  padding-left: 25px;
}

.package-column-right {
  padding-left: 52px;
}

.bottom-right {
  padding-left: 120px;
}

.last-bottom-right {
  padding-left: 140px;
}

.bottom-right-exc {
  padding-left: 257px;
}

.last-bottom-right-exc {
  padding-left: 180px;
}

.last-item {
  padding-bottom: 27px;
}

.package-wrapper {
  display: flex;
  justify-content: space-between;
}

.up-package {
  margin-top: 73px;
}

.benefit {
  font-family: 'Muli Regular', sans-serif;
  font-size: 11px;
  line-height: 15px;
  color: #333333;
  width: 168px;
}

.valid {
  font-family: 'Muli Italic', sans-serif;
  font-size: 10px;
  line-height: 13px;
  color: #333333;
  padding-top: 42px;
  padding-bottom: 23px;
  padding-left: 62px;
}

.calendar {
  font-family: 'Muli Regular', sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #333333;
}

.calendar img {
  margin-right: 21px;
}

.calendar span {
  vertical-align: top;
}

.benefit-wrapper div:first-child {
  padding-left: 25px;
  display: flex;
}

.benefit-wrapper img {
  margin-right: 19px;
  margin-top: -20px;
}

.benefit-wrapper {
  margin-right: 52px;
}

.package-subtitle {
  font-family: 'Muli SemiBold', sans-serif;
  font-size: 13px;
  line-height: 16px;
  color: #EC1F46;
  margin-top: 17px;
}

.last-pack-item {
  padding-bottom: 58px;
}

@media screen and (max-width: 1220px) {
  .desktop-active {
    display: none;
  }

  .package-wrapper {
    flex-direction: column;
    padding-left: 5%;
  }

  .package-title {
    width: calc(538px - 26px);
  }

  .bottom-details {
    width: 537px;
    display: flex;
    flex-direction: column;
  }

  .package-details {
    border-radius: 0 0 8px 8px;
  }

  mat-toolbar {
    width: 20%;
    padding-left: 5%;
  }

  .center {
    width: 95%;
  }

  .package-column-right {
    padding-left: 25px;
  }

  .mobile-detail {
    display: none;
  }

  .info-tab {
    padding-left: 5%;
  }
}

@media screen and (max-width: 595px) {
  .package-details {
    flex-direction: column;
    width: 90%;
  }

  .package-title {
    width: calc(90% - 25px);
  }

  .package-column-right {
    padding-left: 25px;
  }

  .last-item {
    padding-bottom: 21px;
  }

  .calendar {
    padding-left: 25px;
    padding-bottom: 25px;
  }

  .up-package {
    margin-top: 20px;
  }

  .mat-button {
    padding: 0 15px 0 0;
  }
}

