<div class="contacts-wrapper">
  <div class="contact center">
    <span>Questions? Need Help?</span>
    <span><a title="Tel" href="tel:+123-456-1500">Call us on (+123) 456 1500</a></span>
    <span class="flex-spacer"></span>
    <img title="Gift" class="right-contact" src="assets/images/home/gift.svg" alt="Gift">
    <span class="right-contact"><a title="Card" href="#">BTP Gift Card</a></span>
    <img title="Star" class="right-contact" src="assets/images/home/star.svg" alt="Star">
    <span class="right-contact"><a title="Program" href="#">Loyalty Program</a></span>
  </div>
</div>

<div class="logo-wrapper">
  <div class="header-logo center">
    <div class="logo" (click)="goHome()">
      Best <span>tour</span> plan
    </div>

    <form novalidate [formGroup]="form">
      <div class="search-form">
        <mat-form-field class="search-full-width" floatLabel="never">
          <mat-label>Search Location</mat-label>
          <input matInput formControlName="search">
        </mat-form-field>

      </div>

      <a title="Search" mat-button class="search-img" (click)="search()">
        <img title="Search" src="assets/images/home/search.svg" width="16" height="16" alt="Search">
      </a>
    </form>

    <a title="Cart" mat-button class="cart">
      <mat-icon *ngIf="hotelsInCart.length != 0" matBadge={{hotelsInCart.length}} matBadgeColor="warn"
                (click)="openCart()">shopping_cart
      </mat-icon>
      <mat-icon *ngIf="hotelsInCart.length == 0" (click)="openMessagePopup()">shopping_cart</mat-icon>
    </a>
    <span class="flex-spacer"></span>

    <a title="Sign in" *ngIf="!user" class="sign-in" mat-button (click)="openSignInForm()">Sign in</a>
    <img title="User" class="user-image" *ngIf="user && user.image" src={{user.image}} alt="Avatar" width="40" height="40">
    <img title="User" class="user-image" *ngIf="user && !user?.image" src="assets/images/avatar/default-avatar.jpg" alt="Avatar"
         width="40" height="40">
    <span *ngIf="user" class="user-name">{{user.firstName}}</span>
    <span *ngIf="user" class="drop-icon" [matMenuTriggerFor]="menu"><mat-icon
      class="arrow">keyboard_arrow_down</mat-icon></span>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="goToProfile()">Profile</button>
      <button mat-menu-item (click)="signOut()">Sign out</button>
    </mat-menu>

  </div>
</div>

<mat-toolbar>
  <div class="center toolbar">
    <a title="Button" mat-button routerLink='/home' routerLinkActive='active'>All Deals</a>
    <a title="Button" mat-button routerLink='/hotels' routerLinkActive='active'>Hotels</a>
    <a title="Button" class="not-active" mat-button routerLink='#' routerLinkActive='active'>Activities</a>
    <a title="Button" class="not-active" mat-button routerLink='#' routerLinkActive='active'>Hotel Day Packages</a>
    <a title="Button" class="not-active" mat-button routerLink='#' routerLinkActive='active'>Restaurants</a>
    <a title="Button" class="not-active" mat-button routerLink='#' routerLinkActive='active'>Events</a>
    <a title="Button" class="not-active" mat-button routerLink='#' routerLinkActive='active'>Rodrigues</a>

    <mat-icon [matMenuTriggerFor]="main" class="menu">menu</mat-icon>
    <mat-menu #main="matMenu">
      <button mat-menu-item>Activities</button>
      <button mat-menu-item>Hotel Day Packages</button>
      <button mat-menu-item>Restaurants</button>
      <button mat-menu-item>Events</button>
      <button mat-menu-item>Rodrigues</button>
    </mat-menu>
  </div>
</mat-toolbar>
