<div class="contacts-wrapper">
  <div class="contact center">
    <span>Questions? Need Help?</span>
    <span><a href="tel:+123-456-1500">Call us on (+123) 456 1500</a></span>
    <span class="flex-spacer"></span>
    <img src="assets/images/gift.svg" alt="Gift">
    <span><a href="#">BTP Gift Card</a></span>
    <img src="assets/images/star.svg" alt="Star">
    <span><a href="#">Loyalty Program</a></span>
  </div>
</div>

<div class="logo-wrapper">
  <div class="header-logo center">
    <div class="logo">
      Best <span>tour</span> plan
    </div>

    <form novalidate [formGroup]="form">
      <div class="search-form">
        <mat-form-field class="search-full-width" floatLabel="never">
          <mat-label>Search Location</mat-label>
          <input matInput formControlName="search">
        </mat-form-field>

      </div>

      <a mat-button class="search-img" (click)="search()">
        <img src="assets/images/search.svg" width="16" height="16" alt="Search">
      </a>
    </form>

    <a mat-button class="cart">
      <mat-icon matBadge={{hotelsInCart.length}} matBadgeColor="warn" (click)="openCart()">shopping_cart</mat-icon>
    </a>
    <span class="flex-spacer"></span>

    <a *ngIf="!user" class="sign-in" mat-button (click)="openSignInForm()">Sign in</a>
    <img class="user-image" *ngIf="user && user.image" src={{user.image}} alt="Avatar" width="40" height="40">
    <img class="user-image" *ngIf="user && !user?.image" src="assets/images/avatar/default-avatar.jpg" alt="Avatar"
         width="40" height="40">
    <span *ngIf="user" class="user-name">{{user.firstName}}</span>
    <span *ngIf="user" class="drop-icon" [matMenuTriggerFor]="menu"><mat-icon class="arrow">keyboard_arrow_down</mat-icon></span>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="goToProfile()">Profile</button>
      <button mat-menu-item (click)="signOut()">Sign out</button>
    </mat-menu>

  </div>
</div>

<mat-toolbar>
  <div class="center">
    <a mat-button routerLink='/home' routerLinkActive='active'>All Deals</a>
    <a mat-button routerLink='/hotels' routerLinkActive='active'>Hotels</a>
    <a mat-button routerLink='#' routerLinkActive='active'>Activities</a>
    <a mat-button routerLink='#' routerLinkActive='active'>Hotel Day Packages</a>
    <a mat-button routerLink='#' routerLinkActive='active'>Restaurants</a>
    <a mat-button routerLink='#' routerLinkActive='active'>Events</a>
    <a mat-button routerLink='#' routerLinkActive='active'>Rodrigues</a>
  </div>
</mat-toolbar>
