mat-toolbar {
  background-color: #0A223D;
  height: 80px;
  padding: 0;
}

mat-toolbar a {
  font-family: 'Muli Bold', sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-right: 83px;
  padding: 0;
}

mat-toolbar a.active {
  color: #EC1F46;
}

.logo-wrapper {
  background-color: #FFFFFF;
}

.header-logo {
  display: flex;
  height: 120px;
}

.cart {
  align-self: center;
  margin-left: 238px;
}

.search-form {
  max-width: 285px;
  width: 100%;
  height: 40px;
  align-self: center;
  margin-left: 108px;
  background-color: #F5FAFE;
  border-radius: 6px;
  padding-left: 23px;
}

.search-form mat-label, .search-form mat-form-field {
  font-family: 'Muli Regular', sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #333333;
  margin-top: -2px;
}

::ng-deep .mat-form-field-underline {
  display: none;
}

.mat-button, .mat-icon-button, .mat-stroked-button, .mat-flat-button {
  line-height: 0;
}

.search-full-width {
  width: 100%;
}

.search-img {
  background-color: #EC1F46;
  border-radius: 0 6px 6px 0;
  padding: 12px 25px;
  align-self: center;
}

.sign-in {
  font-family: 'Muli Regular', sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #F5FAFE;
  align-self: center;
  background-color: #EC1F46;
  border-radius: 6px;
  padding: 12px 25px;
}

.contacts-wrapper {
  background-color: #F5FAFE;
}

.contact {
  display: flex;
  height: 60px;
}

.contact span, .contact span a {
  align-self: center;
  font-family: 'Muli Regular', sans-serif;
  font-size: 10px;
  line-height: 13px;
  color: #333333;
  text-decoration: none;
}

.contact span:first-child {
  font-family: 'Muli Bold', sans-serif;
  margin-right: 5px;
}

.contact span:nth-child(5) {
  margin-right: 98px;
}

.contact img {
  width: 18px;
  margin-right: 20px;
}
