<div class="footer-wrapper">
  <div class="top-footer">
    <div class="footer-logo">
      Best<br>
      <span>tour</span><br>
      plan
    </div>

    <div class="categories">
      <h4>ALL CATEGORIES</h4>
      <br>
      <ul>
        <li><a mat-button>All Deals</a></li>
        <li><a mat-button>Hotels Stay</a></li>
        <li><a mat-button>Activities</a></li>
        <li><a mat-button>Spa Packages</a></li>
        <li><a mat-button>Hotel Day Packages</a></li>
        <li><a mat-button>Restaurants</a></li>
        <li><a mat-button>Fitness</a></li>
        <li><a mat-button>Rodrigues</a></li>
      </ul>
    </div>

    <div class="info">
      <h4>ADDITIONAL INFORMATION</h4>
      <br>
      <ul>
        <li><a mat-button>About Us</a></li>
        <li><a mat-button>Contact Us</a></li>
        <li><a mat-button>How does it work?</a></li>
        <li><a mat-button>Frequently Asked Questions</a></li>
        <li><a mat-button>Deals.mu loyalty program</a></li>
        <li><a mat-button>Promote your Business on BTP</a></li>
      </ul>

      <div class="social">
        <h4>Social Network</h4>
        <img src="assets/images/social/facebook.svg" alt="Social" width="22">
        <img src="assets/images/social/youtube.svg" alt="Social" width="22">
        <img src="assets/images/social/instagram.svg" alt="Social" width="22">
      </div>

    </div>

    <div class="legal">
      <h4>LEGAL INFORMATION</h4>
      <br>
      <ul>
        <li><a mat-button>Terms & Conditions</a></li>
        <li><a mat-button>Disclaimer</a></li>
        <li><a mat-button>Cancellation policy</a></li>
        <li><a mat-button>Privacy</a></li>
      </ul>
    </div>

  </div>

  <div class="bottom-footer">
    <div class="contact-details">
      <h4>Contact Details</h4>
      <br>
      <div class="contact-subtitle">Feel free to contact us by phone, email or by our contact form</div>
      <br>
      <div class="contact-info">
        <img src="assets/images/contacts/location.svg" alt="Contact">
        <span>
          <a href="https://goo.gl/maps/bbAxw8pYdP97cZJW7" target="_blank">
          9748 Blossom Hill Rd undefined Lansing, Idaho 68545 United States
          </a>
        </span>
      </div>
      <br>
      <div class="contact-info">
        <img src="assets/images/contacts/phone.svg" alt="Contact">
        <span class="first-line"><a href="tel:+269 1500">Tel (business hours) : 269 1500</a></span><br>
        <span class="second-line">
            <a href="tel:+52-56-61-38">Tel (hotline) Monday - Saturday: 52-56-61-38 (08:00 am – 20:00 pm)</a>
          </span><br>
        <span class="second-line">
            <a href="tel:+52-56-61-38">Tel (hotline) Sunday: 52-56-61-38 (08:00 am – 14:00 pm)</a></span><br>
      </div>
      <br>
      <div class="contact-info">
        <img src="assets/images/contacts/email.svg" alt="Contact">
        <span class="third-line"><a href="mailto:herly.lawson@example.com">herly.lawson@example.com</a></span>
      </div>
    </div>

    <div class="message">
      <h4>Send us a message</h4>

      <form novalidate [formGroup]="form">

        <div class="contact-form-top">
          <div>
            <mat-form-field class="message-form" floatLabel="never">
              <mat-label>Your Name</mat-label>
              <input formControlName="name" matInput>
            </mat-form-field>
            <mat-error *ngIf="formErrors.name">
              {{formErrors.name}}
            </mat-error>
            <mat-error *ngIf="!formErrors.name">
              <div class="error-margin"></div>
            </mat-error>
          </div>
          <div>
            <mat-form-field class="message-form" floatLabel="never">
              <mat-label>Email</mat-label>
              <input formControlName="email" matInput>
            </mat-form-field>
            <mat-error *ngIf="formErrors.email">
              {{formErrors.email}}
            </mat-error>
            <mat-error *ngIf="!formErrors.email">
              <div class="error-margin"></div>
            </mat-error>
          </div>
        </div>

        <div>
          <mat-form-field class="contact-form-bottom" floatLabel="never">
            <mat-label>Feedback</mat-label>
            <textarea formControlName="feedback" matInput></textarea>
          </mat-form-field>
          <mat-error class="error-feedback" *ngIf="formErrors.feedback">
            {{formErrors.feedback}}
          </mat-error>
          <mat-error *ngIf="!formErrors.feedback">
            <div class="no-error-feedback"></div>
          </mat-error>
        </div>

      </form>

      <div class="bottom-form">
        <button class="send" type="submit" mat-stroked-button
                [disabled]="form.invalid"
                (click)="onSubmit()">
          <span>Send</span>
        </button>

        <span class="required">* Required Fields</span>
      </div>

    </div>

  </div>

  <div class="bottom-links">
    <div class="left-bottom-links">
      <a mat-button>Disclaimer</a>
      <a mat-button>Conditions of use</a>
      <a mat-button>Cancellation policy</a>
    </div>
    <img src="assets/images/social/social.svg" alt="Social">
  </div>

  <div>

  </div>

</div>
