<div class="hotel-info-container" *ngFor="let hotel of hotels">

  <div>

    <div class="hotel-path center"></div>

    <div class="hotel-title center">
      <div class="hotel-title-left">
        <img src="assets/images/stars.svg" alt="Stars">
        <div class="hotel-title-wrapper">
          <div>
            <span class="main-title">{{hotel.name}} /
              <span *ngIf="!isFilter">{{hotel.country}}</span>
              <span *ngIf="isFilter" class="filtered">{{hotel.country}}</span>
            </span>
          </div>
        </div>

        <div class="subtitle">
          {{hotel.description}}
        </div>
      </div>
      <div class="hotel-title-right">
        <span>User Ratings</span><br/>
        <span>{{hotel.rating}}/</span>
        <span>5</span>
      </div>
    </div>

    <div class="booking-background"></div>

    <div class="center hotel-items">
      <div>
        <img class="main-hotel-img" src={{hotel.image}} alt="Hotel" width="728" height="450">
      </div>

      <div class="flex-booking">
        <div class="booking-wrapper">
          <div class="booking-items">
            <div class="booking-items-left">
              <span>price starts as</span>
              <span>$ {{hotel.price}}</span>
              <span>per room / night</span>
              <span>Quick Booking</span>
            </div>
            <div class="booking-items-right">
              <div class="user">
                <img src="assets/images/avatar/user.svg" alt="User">
                <span>2 x Guests</span>
              </div>
              <div class="home">
                <img src="assets/images/home.svg" alt="Home">
                <span>1 x Room</span>
              </div>
              <div class="phone">
                <img src="assets/images/phone-call.svg" alt="Phone">
                <span><a href="tel:12100">12100</a></span>
              </div>
            </div>
          </div>
          <div>
            <a *ngIf="!isInCard(hotel)" class="other-options" mat-button (click)="addToCart(hotel)">Add to Cart</a>
            <a *ngIf="isInCard(hotel)" class="other-options" mat-button (click)="removeFromCart(hotel)">Remove from Cart</a>
          </div>
        </div>

        <div class="map-item">
          <a href="https://goo.gl/maps/H8nFgNR1ij8q5cAn8" target="_blank">
            <img src="assets/images/map.png" alt="Map">
          </a>
        </div>

      </div>

    </div>

  </div>

  <div>
    <a *ngIf="!containsViewId(hotel.id)" class="view-btn" mat-button
       (click)="setViewDetails(hotel.id, true)">
      View details<span>&rarr;</span>
    </a>
    <a *ngIf="containsViewId(hotel.id)" class="view-btn" mat-button
       (click)="setViewDetails(hotel.id, false)">
      Hide details<span>&darr;</span>
    </a>
  </div>

  <app-hotel-details *ngIf="containsViewId(hotel.id)"></app-hotel-details>

</div>


