<div class="hotel-info-container">

  <div class="hotel-path center">
    Hotels / Flash Offers / Grand Hilton Hotel
  </div>

  <div class="hotel-title center">
    <div class="hotel-title-left">
      <img src="assets/images/stars.svg" alt="Stars">
      <div class="hotel-title-wrapper">
        <div>
          <span class="main-title">GRAND HILTON HOTEL / THAILAND</span>
        </div>
        <div>
          <a *ngIf="!isViewDetails" class="view-btn" mat-button (click)="setViewDetails()">
            View details<span>&rarr;</span>
          </a>
          <a *ngIf="isViewDetails" class="view-btn" mat-button (click)="setViewDetails()">
            Hide details<span>&darr;</span>
          </a>
        </div>
      </div>

      <div class="subtitle">
        Half-Board/ All Inclusive + Complimentary Activities + Child Stays Free
      </div>
    </div>
    <div class="hotel-title-right">
      <span>User Ratings</span><br/>
      <span>4.5/</span>
      <span>5</span>
    </div>
  </div>

  <div class="booking-background"></div>

  <div class="center hotel-items">
    <div>
      <img src="../../assets/images/hotels/hotel.png" alt="Hotel">
    </div>

    <div>
      <div class="booking-wrapper">
        <div class="booking-items">
          <div class="booking-items-left">
            <span>price starts as</span>
            <span>$ 8,500</span>
            <span>per room / night</span>
            <span>Quick Booking</span>
          </div>
          <div class="booking-items-right">
            <div class="user">
              <img src="assets/images/user.svg" alt="User">
              <span>2 x Guests</span>
            </div>
            <div class="home">
              <img src="assets/images/home.svg" alt="Home">
              <span>1 x Room</span>
            </div>
            <div class="phone">
              <img src="assets/images/phone-call.svg" alt="Phone">
              <span><a href="tel:12100">12100</a></span>
            </div>
          </div>
        </div>
        <div>
          <a class="other-options" mat-button>Add to Cart</a>
        </div>
      </div>

      <div>
        <img src="assets/images/map.png" alt="Map">
      </div>

    </div>

  </div>

</div>

<app-hotel-details *ngIf="isViewDetails"></app-hotel-details>
