@import '../../variables';

.main {
  width: 700px;
}

.table-container {
  width: 100%;
  align-items: center;
}

.close-button {
  float: right;
  top: -24px;
  right: -24px;
}

.close-icon {
  transition: 1s ease-in-out;
}

.close-icon:hover {
  transform: rotate(180deg) !important;
}

:host .icon-outside .close-button {
  float: right;
  top: -52px;
  right: -52px;
}

:host .icon-outside .mat-dialog-container {
  overflow: unset;
}

mat-header-cell.mat-header-cell.cdk-header-cell, mat-cell.mat-cell.cdk-cell {
  @include mainFont('Muli Regular', 20px, 100%);
}

.total-price {
  @include mainFont('Muli Regular', 20px, 100%);
  font-weight: bold;
  padding-top: 30px;
}

td.mat-footer-cell.cdk-footer-cell.cdk-column-price.mat-column-price.ng-star-inserted {
  float: right;
}

.mat-column-name {
  flex: none;
  width: 50%;
}

.book-btn {
  @include mainFont('Muli Regular', 14px, 18px);
  color: $main-grey-color;
  align-self: center;
  background-color: $main-red-color;
  border-radius: 6px;
  padding: 12px 25px;
  margin-top: 20px;
}

.cart-bottom {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 930px) {
  .main {
    width: 500px;
  }
}

@media screen and (max-width: 690px) {
  .main {
    width: 300px;
  }

  mat-header-cell.mat-header-cell.cdk-header-cell, mat-cell.mat-cell.cdk-cell, .total-price {
    font-size: 14px;
  }

  .mat-column-country {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .main {
    width: 100%;
  }
}
