<div class="packages-wrapper" [@flyIn]="">
  <h2>Our Packages</h2>
  <div class="top-packages center">

    <div class="hotel-info">

      <div>
        <div class="hotel-container-1">
          <img class="main-hotel-img" src="assets/images/hotels/hotel-pack-1.png" alt="Hotel">
          <div class="flash-banner-1">
            <app-flash-offer-banner
              [isLargeHidden]="false"
              [isSmallHidden]="true">
            </app-flash-offer-banner>
          </div>
        </div>
      </div>

      <div class="hotel-info-wrapper">
        <img class="stars-img" src="assets/images/stars.svg" alt="Stars">
        <h4>Hotel Blue Haven</h4>
        <p>
          Aute quis duis excepteur excepteur ipsum cat eiusmod consectetur enim laborum magna llit. Ipsum est fugiat
          velit
          ea llamco do esse ut in veniam sun in onsequat. Aute quis duis epteur excepteur ipsum occaecat eiusmod
          nsectetur
          enim laborum magna mollit. Ipsum est fugiat velit ea ullamco do
        </p>
        <div class="info">
          <img src="assets/images/map-pin.svg" alt="Map Pin">
          <span>1749 Wheeler Ridge  Delaware</span>
        </div>
        <div class="info">
          <img src="assets/images/avatar/user.svg" alt="User">
          <span>2 x Guests</span>
        </div>
        <div class="last-info">
          <img src="assets/images/home.svg" alt="Home">
          <span>1 x Room</span>
        </div>
        <div class="top-price">&dollar; 10500</div>
        <div class="bottom-price">
          <span>&dollar; 8500</span>
          <a class="book-btn" mat-button>Book Now</a>
        </div>
      </div>
    </div>

    <div class="hotel-detail">

      <div class="hotel-container-2">
        <img src="assets/images/hotels/hotel-pack-2.png" alt="Hotel">
        <div class="flash-banner-2">
          <app-flash-offer-banner
            [isLargeHidden]="true"
            [isSmallHidden]="false">
          </app-flash-offer-banner>
        </div>
      </div>

      <div class="hotel-info-wrapper bottom-wrapper">
        <h4>LUX* Belle Mare</h4>
        <div class="info">
          <img src="assets/images/map-pin.svg" alt="Map Pin">
          <span>1749 Wheeler Ridge  Delaware</span>
        </div>
        <div class="info">
          <img src="assets/images/avatar/user.svg" alt="User">
          <span>2 x Guests</span>
        </div>
        <div class="last-info">
          <img src="assets/images/home.svg" alt="Home">
          <span>1 x Room</span>
        </div>
        <div class="top-price">&dollar; 8500</div>
        <div class="bottom-price">
          <span>&dollar; 3000</span>
          <a class="book-btn" mat-button>Book Now</a>
        </div>
      </div>
    </div>

  </div>

  <div class="bottom-packages center">

    <div class="hotel-detail">

      <div class="hotel-container-2">
        <img src="assets/images/hotels/hotel-pack-3.png" alt="Hotel">
        <div class="flash-banner-2">
          <app-flash-offer-banner
            [isLargeHidden]="true"
            [isSmallHidden]="false">
          </app-flash-offer-banner>
        </div>
      </div>

      <div class="hotel-info-wrapper bottom-wrapper">
        <h4>White Palace</h4>
        <div class="info">
          <img src="assets/images/map-pin.svg" alt="Map Pin">
          <span>1749 Wheeler Ridge  Delaware</span>
        </div>
        <div class="info">
          <img src="assets/images/avatar/user.svg" alt="User">
          <span>2 x Guests</span>
        </div>
        <div class="last-info">
          <img src="assets/images/home.svg" alt="Home">
          <span>1 x Room</span>
        </div>
        <div class="top-price">&dollar; 10500</div>
        <div class="bottom-price">
          <span>&dollar; 9500</span>
          <a class="book-btn" mat-button>Book Now</a>
        </div>
      </div>
    </div>

    <div class="hotel-detail">

      <div class="hotel-container-2">
        <img src="assets/images/hotels/hotel-pack-4.png" alt="Hotel">
        <div class="flash-banner-2">
          <app-flash-offer-banner
            [isLargeHidden]="true"
            [isSmallHidden]="false">
          </app-flash-offer-banner>
        </div>
      </div>

      <div class="hotel-info-wrapper bottom-wrapper">
        <h4>Luxury Place</h4>
        <div class="info">
          <img src="assets/images/map-pin.svg" alt="Map Pin">
          <span>1749 Wheeler Ridge  Delaware</span>
        </div>
        <div class="info">
          <img src="assets/images/avatar/user.svg" alt="User">
          <span>2 x Guests</span>
        </div>
        <div class="last-info">
          <img src="assets/images/home.svg" alt="Home">
          <span>1 x Room</span>
        </div>
        <div class="top-price">&dollar; 4500</div>
        <div class="bottom-price">
          <span>&dollar; 2500</span>
          <a class="book-btn" mat-button>Book Now</a>
        </div>
      </div>
    </div>

    <div class="hotel-detail">

      <div class="hotel-container-2">
        <img src="assets/images/hotels/hotel-pack-5.png" alt="Hotel">
        <div class="flash-banner-2">
          <app-flash-offer-banner
            [isLargeHidden]="true"
            [isSmallHidden]="false">
          </app-flash-offer-banner>
        </div>
      </div>

      <div class="hotel-info-wrapper bottom-wrapper">
        <h4>Hotel Five Star</h4>
        <div class="info">
          <img src="assets/images/map-pin.svg" alt="Map Pin">
          <span>1749 Wheeler Ridge  Delaware</span>
        </div>
        <div class="info">
          <img src="assets/images/avatar/user.svg" alt="User">
          <span>2 x Guests</span>
        </div>
        <div class="last-info">
          <img src="assets/images/home.svg" alt="Home">
          <span>1 x Room</span>
        </div>
        <div class="top-price">&dollar; 6500</div>
        <div class="bottom-price">
          <span>&dollar; 3500</span>
          <a class="book-btn" mat-button>Book Now</a>
        </div>
      </div>
    </div>

  </div>
</div>
