.packages-wrapper {
  background-color: #F5FAFE;
  padding: 70px 0 70px 0;
}

.packages-wrapper h2 {
  font-family: 'Muli Bold', sans-serif;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
}

.top-packages {
  display: grid;
  grid-template-columns: 350px 350px 350px;
  gap: 30px;
  margin-top: 65px;
}

.hotel-info {
  grid-column: 1/span 2;
  display: flex;
}

.hotel-info-wrapper {
  padding: 46px 21px 30px 44px;
  background-color: #0A223D;
  border-radius: 0 8px 8px 0;
}

.hotel-info-wrapper h4 {
  font-family: 'Muli Bold', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  margin-bottom: 27px;
}

.hotel-info-wrapper p {
  font-family: 'Muli Regular', sans-serif;
  font-size: 14px;
  line-height: 160.6%;
  color: #FFFFFF;
  margin-bottom: 34px;
  opacity: 0.9;
}

.hotel-info-wrapper span {
  font-family: 'Muli Regular', sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  margin-left: 14px;
}

.hotel-info-wrapper img:not(.stars-img) {
  vertical-align: sub;
}

.info {
  margin-bottom: 11px;
  opacity: 0.9;
}

.last-info {
  margin-bottom: 37px;
  opacity: 0.9;
}

.top-price {
  font-family: 'Muli Regular', sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-decoration-line: line-through;
  color: #FFFFFF;
  margin-bottom: 5px;
  vertical-align: sub;
  opacity: 0.9;
}

.bottom-price span {
  font-family: 'Muli Bold', sans-serif;
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
  margin-left: 0;
  vertical-align: sub;
}

.book-btn {
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
  background-color: #EC1F46;
  border-radius: 4px;
  padding: 11px 0;
  width: 120px;
  margin-left: 92px;
}

.hotel-detail {
  display: flex;
  flex-direction: column;
}

.bottom-wrapper {
  border-radius: 0 0 8px 8px;
  padding: 30px 21px 25px 32px;
}

.hotel-detail h4 {
  margin-bottom: 23px;
}

.hotel-detail .last-info {
  margin-bottom: 24px;
}

.hotel-container-1 {
  width: 366px;
  height: 512px;
}

.flash-banner-1 {
  margin-top: -477px;
}

.main-hotel-img {
  width: 100%;
  max-width: 100%;
  height: 100%;
}

.hotel-container-2 {
  width: 350px;
  height: 250px;
}

.flash-banner-2 {
  margin-top: -227px;
}

.bottom-packages {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

@media screen and (max-width: 1170px) {
  .top-packages {
    display: none;
  }

  .desktop-active {
    display: none;
  }

  .bottom-packages {
    justify-content: space-around;
    margin-top: 30px;
  }

  .packages-wrapper {
    padding: 30px 0 30px 0;
  }
}

@media screen and (max-width: 780px) {
  .bottom-packages {
    flex-wrap: wrap;
  }

  .hotel-detail {
    margin-right: 10px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 756px) {
  .bottom-item {
    margin-top: 20px;
  }
}

@media screen and (max-width: 370px) {
  .hotel-container-2 {
    width: 300px;
  }

  .hotel-container-2 img {
    width: 300px;
    height: 250px;
    align-self: center;
  }

  .hotel-detail {
    width: 300px;
  }

  .book-btn {
    margin-left: 45px;
  }
}
