<div *ngIf="feedbacks.length != 0" class="review-wrapper">
  <h2>What people think about us</h2>


  <div class="avatar-wrapper">
    <img *ngIf="!user || !user.image" class="avatar-img" src="../../assets/images/avatar/default-avatar.jpg"
         alt="Avatar">
    <img *ngIf="user && user.image" class="avatar-img" src={{user.image}} alt="Avatar">

    <span class="avatar-name">{{user.firstName}}</span>
    <span class="review-date">Stayed 18 Nov, 2019</span>
    <img src="assets/images/stars.svg" alt="Stars">
  </div>

  <div class="review-container">

    <img class="quotes-top-img" src="assets/images/quotes-top.svg" alt="Quotes">
    <img class="quotes-bottom-img" src="assets/images/quotes-bottom.svg" alt="Quotes">

    <div class="text-content">

      <button class="left-arrow" mat-button (click)="getPreviousFeedback(currentFeedback?.id)">
        <span class="fa fa-angle-left fa-2x"></span>
      </button>

      <p>
        {{currentFeedback?.text}}
      </p>

      <button class="right-arrow" mat-button (click)="getNextFeedback(currentFeedback?.id)">
        <span class="fa fa-angle-right fa-2x"></span>
      </button>

    </div>

  </div>

</div>
